<!DOCTYPE html>
<html>
  <head>

    <title>My Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>

    {% assets "css" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />{% endassets %}

    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/react/0.8.0/react.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.8.0/JSXTransformer.js"></script>

    <style>
      .marg-bot {
        margin-bottom:20px;
      }
    </style>

  </head>
  <body>

    <div class="container">

      <div class="row marg-bot">
        <div class="col-md-12">
          <h3 class="text-muted">
            <i class="fa fa-bar-chart-o"></i> FANTASOLVE
          </h3>
        </div>
      </div>

      <div class="row" id="app">
      </div>
    </div>

    {% assets "js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

    <script type="text/jsx" src="/static/app.jsx"></script>

  </body>
</html>
