/*.graph {
  width:600px;
  height:375px;
  background-size:500px;
  background-image:url('/static/court.png');
  background-repeat:no-repeat;
  background-position:bottom center;
}*/
.hexagon {
  /*stroke-width:1.5px;*/
  opacity:0.67;
}
.hex-pop-td-left {
  padding-right:20px;
}
.hex-pop-td-right {
  text-align:right;
}
.hidden-submit {
  position:absolute;
  left:-9999px;
  width:1px;
  height:1px;
}
.stat-foo {
  text-align:center;
}

